# MongoDB
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin123
MONGO_HOST=mongodb
MONGO_PORT=27017

AUTH_DB_NAME=auth_db
PRODUCT_DB_NAME=product_db
ORDER_DB_NAME=order_db
PORTFOLIO_DB_NAME=portfolio_db

# Services
AUTH_SERVICE_PORT=3001
PRODUCT_SERVICE_PORT=3002
ORDER_SERVICE_PORT=3003
PORTFOLIO_SERVICE_PORT=3004
API_GATEWAY_PORT=3000
FRONTEND_PORT=3006

# JWT
JWT_SECRET=bfkjnksnjnsdjknkjns

# Internal service URLs
AUTH_SERVICE_URL=http://auth-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
ORDER_SERVICE_URL=http://order-service:3003
PORTFOLIO_SERVICE_URL=http://portfolio-service:3004

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3000

# Kafka
KAFKA_INTERNAL_BROKER=kafka:9092
KAFKA_EXTERNAL_BROKER=localhost:9094
KAFKA_EXTERNAL_PORT=9094
KAFKA_CLIENT_ID=trend-money

# Order Kafka
ORDER_KAFKA_CLIENT_ID=order-service
ORDER_KAFKA_GROUP_ID=order-processor

# Portfolio Kafka
PORTFOLIO_KAFKA_CLIENT_ID=portfolio-service
PORTFOLIO_KAFKA_GROUP_ID=portfolio-service

# Kafka Topics
KAFKA_TOPIC_ORDER_CREATED=orders.created
KAFKA_TOPIC_ORDER_PROCESSING=orders.processing
KAFKA_TOPIC_ORDER_COMPLETED=orders.completed
KAFKA_TOPIC_ORDER_FAILED=orders.failed